<h1>Dragonball Page</h1>
<p>dragonball works!</p>

<hr/>
<section class="row">
    <div class="col-12 col-sm-6">
       <h3>Agregar:{{ name() }}</h3>   
        <input type="text" 
        class="form-control" 
        placeholder="Nombre del personaje"
        [value]="name()"
        
        (change)="name.set(txtName.value)"
        (input)="name.set(txtName.value)"
         #txtName
        />
        <h3>Poder:{{ power() }}</h3>
        <input type="number" 
        class="form-control mt-2" 
        placeholder="Poder del personaje"
        [value]="power()"
        (input)="power.set(+txtPower.value)"
        
         #txtPower
        />
        <button (click)="addCharacter()"
        class="mt-2 btn btn-primary">Agregar</button>

    </div>
    <div class="col-12 col-sm-6">
        <app-character-list 
        [characters]="characters()"
        [listName]='"Listado de personajes"'
         >
   </app-character-list>
    </div>
   <!--  <h3>Personajes</h3> 
        <ol>
        @for(character of characters(); track character.id; let idx = $index){
        @if(character.power > 500){
             <ul>
                <span>{{ idx + 1 }}-{{ character.name }}</span>
                <strong class="text-danger">{{ character.power }}</strong>
            </ul>
        } @else {    
            <li>hay elementos inferiores</li>
        }
        }
    </ol> -->
    
    <!-- resolver con *ngfor y *ngIf (input)="name.set($any($event.target).value)" (input)="power.set(+$any($event.target).value)"-->
   <!-- <ul>
      <li *ngFor="let character of characters(); let idx = index">
        <div *ngIf="character.power > 500; else lowPower">
          <span>{{ idx + 1 }}-{{ character.name }}</span>
          <strong class="text-danger">{{ character.power }}</strong>
        </div>
        <ng-template #lowPower>
          <span>hay elementos inferiores</span>
        </ng-template>
      </li>
    </ul>-->
    
</section>