<nav class="p-4 w-full">
<ul class="menu bg-base-200 lg:menu-horizontal rounded-box">
  <li>
    <a routerLink="by-capital" routerLinkActive="btn-primary" class="btn">
      <span class="capital-marker-icon" aria-hidden="true"></span>
      Por Capital
      
    </a>
  </li>
  <li>
    <a routerLink="by-country" routerLinkActive="btn-primary" class="btn">
      <span class="map-pin-icon" aria-hidden="true"></span>
      Por Pais
    </a>
  </li>
  <li>
    <a routerLink="by-region" routerLinkActive="btn-primary" class="btn">
      <span class="region-signs-icon" aria-hidden="true"></span>
      Por Region
      
    </a>
  </li>
</ul>
</nav>
